.learning {
	padding: rem(70) rem(0);
	background: #eef1f4;
	margin: rem(35) rem(0);
	@media (max-width: $tablet) {
		padding: rem(50) rem(0);
		margin: rem(25) rem(0);
		overflow: hidden;
	}
	@media (max-width: $mobile) {
		padding: rem(40) rem(0);
		margin: rem(20) rem(0);
	}
	@media (max-width: $mobileSmall) {
		padding: rem(30) rem(0);
	}
	.services-page & {
		@media (min-width: $pc) {
			padding: 0;
			background: none;
		}
	}
	&__container {
		.services-page & {
			padding: 0;
		}
	}
	&__head {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $mobile) {
				margin-bottom: rem(25);
			}
		}
	}
	&__images {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: rem(14) rem(24);
		@media (max-width: $pc) {
			gap: rem(14);
		}
		@media (max-width: $tablet) {
			gap: rem(10);
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	&__image {
		border-radius: rem(7);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&_full {
			grid-column: span 3;
			grid-row: span 2;
		}
		&_big {
			grid-column: span 2;
		}
		&_small {
		}
	}
}
