.video-reviews {
	padding: rem(35) rem(0);
	@media (max-width: $tablet) {
		padding: rem(25) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(20) rem(0);
	}
	&__container {
		.services-page & {
			padding: 0;
		}
	}
	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		gap: rem(16);
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__top-left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__title {
	}
	&__btn {
		min-width: rem(249);
		@media (max-width: $mobile) {
			min-width: 0;
			width: 100%;
		}
	}
	&__descr {
		line-height: math.div(22, 18);
		color: #838383;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(24);
		@media (max-width: em(1199.98)) {
			grid-template-columns: 1fr;
			gap: rem(20);
		}
		.services-page & {
			grid-template-columns: 1fr;
			@media (max-width: $tablet) {
				grid-template-columns: 1fr 1fr;
			}
			@media (max-width: em(1199.98)) {
				grid-template-columns: 1fr;
			}
		}
	}
	&__video {
	}
	&__player {
		aspect-ratio: 798/521;
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__thumbs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: rem(24);
		@media (max-width: $tablet) {
			gap: rem(16);
		}
		@media (max-width: $mobile) {
			gap: rem(12) rem(8);
			grid-template-columns: 1fr 1fr;
		}
	}
	&__thumb {
		aspect-ratio: 250/144;
	}
}

.video-reviews-sidebar {
	border-radius: rem(7);
	border: rem(1) solid #e6eaf0;
	padding: rem(16) rem(24) rem(24);
	display: flex;
	flex-direction: column;
	@media (max-width: $mobile) {
		padding: rem(12) rem(16) rem(16);
	}
	&__head {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: rem(12) rem(20);
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__title {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(24, 20);
		color: #000;
	}
	&__right {
	}
	&__rating-value {
		font-weight: 500;
		font-size: rem(36);
		line-height: math.div(44, 36);
		color: #e51616;
		@media (max-width: $mobile) {
			font-size: rem(28);
		}
	}
	&__rating {
		display: flex;
		align-items: center;
		gap: rem(20);
	}
	&__rating-stars {
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
	}
	&__rating-descr {
		font-size: rem(10);
		color: #898989;
		line-height: math.div(12, 10);
	}
	&__list {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__item {
		padding: rem(30) rem(24);
		@media (max-width: $tablet) {
			padding: rem(20) rem(16);
		}

		&:not(:last-child) {
			margin-bottom: rem(15);
			@media (max-width: $tablet) {
				margin-bottom: rem(15);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(10);
			}
		}
	}
	&__more {
		min-width: rem(500);
		align-self: flex-end;
		@media (max-width: $mobile) {
			min-width: 0;
			width: 100%;
		}
	}
}
