.check-docs-form {
	background: #eef1f4;
	border-radius: rem(8);
	padding: rem(32);
	@media (max-width: $tablet) {
		padding: rem(24);
	}
	@media (max-width: $mobile) {
		padding: rem(20) rem(16);
	}
	&:not(:last-child) {
		margin-bottom: rem(40);
		@media (max-width: $tablet) {
			margin-bottom: rem(30);
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(20);
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(36);
		line-height: math.div(44, 36);
		@media (max-width: $tablet) {
			font-size: rem(28);
		}
		@media (max-width: $mobile) {
			font-size: rem(24);
		}
		&:not(:last-child) {
			margin-bottom: rem(16);
			@media (max-width: $mobile) {
				margin-bottom: rem(12);
			}
		}
	}
	&__descr {
		line-height: math.div(22, 18);
		&:not(:last-child) {
			margin-bottom: rem(32);
			@media (max-width: $tablet) {
				margin-bottom: rem(24);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__fields {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(32) rem(37);
		@media (max-width: $tablet) {
			gap: rem(24);
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			gap: rem(16);
		}
		&:not(:last-child) {
			margin-bottom: rem(32);
			@media (max-width: $tablet) {
				margin-bottom: rem(24);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__actions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(24);
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
			gap: rem(12);
		}
	}
	&__btn {
		min-height: rem(60);
		font-weight: 700;
		font-size: rem(18);
		padding: rem(16) rem(20);
		@media (max-width: $mobile) {
			min-height: rem(52);
			font-size: rem(16);
		}
	}
}
