.header {
	padding: rem(12) rem(0);
}

.header-top {
	&__container {
	}
	&__body {
		display: flex;
		align-items: center;
		gap: rem(24);
		@media (max-width: $pc) {
			gap: rem(16);
		}
		@media (min-width: $tablet) {
			border-bottom: rem(1) solid #e51616;
			padding-bottom: rem(12);
		}
	}
	&__logo-wrapper {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		gap: rem(6);
		@media (max-width: $tablet) {
			position: relative;
			z-index: 2;
		}
	}
	&__logo {
		flex: 0 0 rem(90);
		@media (max-width: $tablet) {
			position: relative;
			z-index: 4;
			flex: 0 0 rem(70);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__logo-text {
		display: flex;
		flex-direction: column;
		gap: rem(9);
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__logo-name {
		font-weight: 800;
		font-size: rem(19);
		line-height: math.div(23, 19);
		white-space: nowrap;
	}
	&__logo-descr {
		font-size: rem(16);
		line-height: math.div(19, 16);
		letter-spacing: 0.03em;
		color: #5c6670;
		white-space: nowrap;
	}
	&__main {
		flex: 1 1 rem(280);
		display: flex;
		align-items: center;
		gap: rem(24);
		@media (max-width: $pc) {
			gap: rem(16);
		}
	}
	&__main-link {
		font-size: rem(16);
		line-height: math.div(19, 16);
		font-weight: 500;
		padding: rem(8) rem(12);
		background: #eef1f4;
		border-radius: rem(5);
		display: inline-block;
		white-space: nowrap;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__phone {
		font-weight: 900;
		font-size: rem(20);
		line-height: math.div(24, 20);
		white-space: nowrap;
		@media (max-width: $tablet) {
			display: none;
		}
	}
}

.header-actions {
	display: flex;
	align-items: center;
	gap: rem(12);
	@media (min-width: $tablet) {
		display: none;
	}
	&__phone {
		flex: 0 0 rem(32);
		width: rem(32);
		aspect-ratio: 1;
		background: url("@img/icons/phone.svg") 50% / 100% no-repeat;
		font-size: 0;
	}
	&__search-btn {
		flex: 0 0 rem(32);
		width: rem(32);
		aspect-ratio: 1;
		background: url("@img/icons/search-r.svg") 50% / 100% no-repeat;
	}
}

.header-search {
	flex: 1 1 rem(160);
	max-width: rem(320);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: rem(14);
		width: rem(26);
		height: rem(26);
		background: url("@img/icons/search.svg") 50% / 100% no-repeat;
		transform: translate(0, -50%);
	}
	&__input {
		border: rem(1) solid #e6eaf0;
		border-radius: rem(5);
		min-height: rem(40);
		padding-right: rem(14);
		padding-left: rem(50);
		font-size: rem(16);
		color: #5c6670;
		width: 100%;
	}
}

.menu {
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			padding: rem(100) rem(20) rem(40);
			transition: right 0.3s;
			z-index: 2;
			background-color: #fff;
		}
		@media (max-width: $mobile) {
			padding: rem(90) rem(16) rem(32);
		}
		.menu-open & {
			@media (max-width: $tablet) {
				right: 0;
			}
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(24);
		@media (max-width: $pc) {
			gap: rem(16);
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-start;
			width: 100%;
			gap: rem(20);
		}
	}
	&__item {
		@media (max-width: $tablet) {
			width: 100%;
		}
	}
	&__link {
		line-height: math.div(22, 18);
		white-space: nowrap;
		@media (max-width: $tablet) {
			display: block;
			font-size: rem(20);
			white-space: normal;
		}
	}
	&__extra {
		display: none;
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			gap: rem(20);
			margin-top: rem(32);
			padding-top: rem(24);
			border-top: rem(1) solid #e6eaf0;
		}
	}
	&__extra-link {
		font-size: rem(16);
		line-height: math.div(19, 16);
		font-weight: 500;
		padding: rem(8) rem(12);
		background: #eef1f4;
		border-radius: rem(5);
	}
	&__extra-phone {
		font-weight: 900;
		font-size: rem(20);
		line-height: math.div(24, 20);
	}
	&__extra-items {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10) rem(13);
		width: 100%;
		li {
			a {
				display: block;
				font-size: rem(14);
				line-height: math.div(17, 14);
				padding: rem(8) rem(9);
				border: rem(1) solid #e6eaf0;
				border-radius: rem(5);
			}
		}
	}
	&__extra-btn {
		width: 100%;
	}
}

.header-bottom {
	padding-top: rem(24);
	@media (max-width: $tablet) {
		display: none;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(24);
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10) rem(13);
	}
	&__item {
		a {
			display: block;
			font-size: rem(16);
			line-height: math.div(19, 16);
			padding: rem(9);
			border: rem(1) solid #e6eaf0;
			border-radius: rem(5);
		}
	}
	&__btn {
		padding: rem(10) rem(30);
		font-size: rem(16);
		font-weight: 600;
		min-width: rem(251);
		white-space: nowrap;
	}
}

//====================================================================================================

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #e51616;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
